* {
  box-sizing: border-box;
}
#container {
  width: 800px;
  background-color: red;
  height: 840px;
  margin: 0 auto;
}

#header {
  width: 100%;
  height: 300px;
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/d/d1/Mount_Everest_as_seen_from_Drukair2_PLW_edit.jpg);
  background-size: cover;
}

.col2 {
  width: 50%;
  height: 500px;
  float: left;
  padding: 10px;
}

footer {
  height: 40px;
  padding: 10px;

}
