body, html {
  padding: 0px;
  margin: 0px;
  color: white;
  text-transform: uppercase;
}
body {
  font-family: Arial;
  background: url(https://media.giphy.com/media/DLivp9b0aoCOI/source.gif) no-repeat center center fixed;
  background-size: cover;

}

h1 {
  font-size: 76px;
  text-shadow: 1px 1px black;

}

#outerBox {
  padding-top: 20px;
  text-align: center;
  /*width: 600px;
  margin: 0 auto;*/
}
#box {
  margin: 0 auto;
  padding-top: 20px;
  border: 4px solid white;
  height: 30px;
  width: 80px;
}

a {
  color: white;
  text-decoration: none;
}
